# Build
/build

# Docs
/docs/src
/docs/**/*.js
/docs/**/*.html
/docs/**/*.cs

# ZIG
zig-cache
zig-out

# VSCode

# MacOS
*.DS_Store
.DS_Store
*.dylib

kcov-output/

imgui.ini

_static.zig

# temp folder for tests
/fixtures/tmp

# folder for generated tmp data, cache and debug purpose files
.ct_temp

result.xml
*.tracy