[submodule "externals/shared/repo/SDL_GameControllerDB"]
	path = externals/shared/repo/SDL_GameControllerDB
	url = https://github.com/cyberegoorg/SDL_GameControllerDB.git
[submodule "externals/shared/repo/zbgfx"]
	path = externals/shared/repo/zbgfx
	url = https://codeberg.org/cyberegoorg/zbgfx.git
[submodule "externals/shared/repo/zf"]
	path = externals/shared/repo/zf
	url = https://github.com/cyberegoorg/zf.git
[submodule "externals/shared/repo/zflecs"]
	path = externals/shared/repo/zflecs
	url = https://github.com/cyberegoorg/zflecs.git
[submodule "externals/shared/repo/zglfw"]
	path = externals/shared/repo/zglfw
	url = https://github.com/cyberegoorg/zglfw.git
[submodule "externals/shared/repo/zgui"]
	path = externals/shared/repo/zgui
	url = https://github.com/cyberegoorg/zgui.git
[submodule "externals/shared/repo/zig-uuid"]
	path = externals/shared/repo/zig-uuid
	url = https://github.com/cyberegoorg/zig-uuid.git
[submodule "externals/shared/repo/ziglang-set"]
	path = externals/shared/repo/ziglang-set
	url = https://github.com/cyberegoorg/ziglang-set.git
[submodule "externals/shared/repo/zls"]
	path = externals/shared/repo/zls
	url = https://github.com/zigtools/zls.git
[submodule "externals/shared/repo/zmath"]
	path = externals/shared/repo/zmath
	url = https://github.com/cyberegoorg/zmath.git
[submodule "externals/shared/repo/ztracy"]
	path = externals/shared/repo/ztracy
	url = https://github.com/cyberegoorg/ztracy.git
[submodule "externals/shared/repo/znfde"]
	path = externals/shared/repo/znfde
	url = https://codeberg.org/cyberegoorg/znfde.git
[submodule "externals/shared/repo/tracy"]
	path = externals/shared/repo/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "externals/shared/repo/zphysics"]
	path = externals/shared/repo/zphysics
	url = https://github.com/cyberegoorg/zphysics.git
