# Build
/build

# Docs
/docs/src
/docs/**/*.js
/docs/**/*.html
/docs/**/*.cs

# ZIG
zig-cache
zig-out

# VSCode

# csharp
/bindings/cs/c2cs/ast
/bindings/cs/c2cs/cross-platform-ast.json
/**/Generated

# MacOS
*.DS_Store
.DS_Store
